.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-top: 10rem;
}

.hero-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 50%;
    margin-bottom: 8rem;
}

.hero-left h1{
    font-size: 4rem;
    margin: 0;
}

.hero-left h2{
    font-size: 4.5rem;
    margin: 0;
}

.hero-left p{
    font-size: 1.2rem;
    margin: 0;
}

.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.hero-right img{
    width: 145%;
}

.shop-btn{
    padding: 10px;
    background: #147442;
    color: white;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    margin-top: 10px;
}

/* For Desktop */
@media (max-width: 1280px){
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        margin-top: 9rem;
    }
    
    .hero-left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 0;
        width: 50%;
        margin-bottom: 8rem;
    }
}