.admin_container{
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #edd7b8;
    padding: 2rem;
    border-radius: 15px;
    width: 40vw;
}

.add_p{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
}

.add_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
}

.add_form input{
    border-radius: 1rem;
    text-indent: 2px;
    border: 2px solid black;
}

.input-fields{
    width: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-bottom: 1rem;
}

.size-price-div{
    padding: 10px;
    justify-content: center;
}

.size-price{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.add_form input{
    /* background-color: red; */
    width: 20vw;
    border: 0;
    text-align: center;
    border-radius: 10px;
}

.size-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_size_btn{
    font-size: 10px;
    padding: 0.4rem;
    border: 2px solid #147442;
    border-radius: 1rem;
    transition: all ease-in-out 0.3s;
    color: #147442;
}

.add_size_btn:hover{
    background-color: rgb(216, 212, 212);

}

.add_item_btn{
    font-size: 15px;
    padding: 0.5rem;
    border: 2px solid #147442;
    border-radius: 1rem;
    transition: all ease-in-out 0.3s;
    color: #ffffff;
    margin-bottom: 1rem;
    width: 10rem;
}


.delete-btn{
    font-size: 12px;
    padding: 0.5rem;
    border: 2px solid red;
    border-radius: 1rem;
    transition: all ease-in-out 0.3s;
    color: red;
}

.delete-btn:hover{
    background-color: red;
    color: white;
}

@media screen and (min-width: 1450px) {
    .add_items{
        margin-top: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #edd7b8;
        padding: 3rem;
        border-radius: 15px;
    }

    .add_p{
        margin-top: 0;
        margin-bottom: 3rem;
    }

}
