.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #147442;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.title h2{
    font-size: 32px;
    color: #000000;
    margin-top: 5px;
    text-transform: none;
}

.title p{
    color: #147442;
    font-size: 1.5rem;
}

img{
    margin-bottom: 1rem;
    width: 90px;
}