.cart{
    margin-top: 5rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    border: 0;
    border-radius: 0;
}

.cart-inner{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* border: 2px solid #147442; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(225, 224, 224);
    padding: 2px;
}

.cart-inner > div{
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.cart-inner .quantity{
    border-radius: 10px;
    border: 1px solid #147442;
    margin-bottom: 1rem;
    width: 4rem;
    padding: 5px;
}

.cart-inner-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
}

.cart-total{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(225, 224, 224);
    padding: 10px;
}

.cart-total > div{
    margin: 0;
    padding: 5px;
}

.pay-btn{
    margin-top: 2rem;
    width: 6rem;
    padding: 5px;
    border: 2px solid #147442;
    border-radius: 10px;
    color: #147442;
}

.pay-btn:hover{
    background-color: #147442;
    border: 2px solid #147442;
    color: white;
}

.cart-total.total{
    color: #000;
    font-size: 2rem;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-totalprice{
    border-bottom: 2px solid #147442;
}

.total-payment-heading{
    margin-bottom: 2rem;
    font-size: 35px;
    margin-left: 20%;
}

.cursor-pointer.delete-btn{
    width: 40px;
    cursor: pointer;
    border: 2px solid #147442;
    border-radius: 50%;
    background-color: #147442;
}

.cart-items{
    margin-top: 1rem;
    font-size: 1rem;
}
