.cart{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0;

}


.cart-total{
    text-align: center;
}



.pay-btn{
    margin-top: 2rem;
    width: 6rem;
    padding: 5px;
    border: 2px solid #147442;
    border-radius: 10px;
    color: #147442;
}

.pay-btn:hover{
    background-color: #147442;
    border: 2px solid #147442;
    color: white;
}

.cart-total.total{
    color: #000;
    font-size: 2rem;
}