.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .carousel {
    width: 70%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .carousel img {
    border-radius: 10px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  
  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  