.card{
    width: fit-content;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgb(184, 183, 183);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

p{
    color: rgb(174, 172, 172);
}

h5{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

.card img{
    width: 180px;
}

.card .add_btn{
    border-radius: 10px;
    border: 2px solid #147442;
    background-color: white;
    color: #147442;
    transition: 0.2s;
    padding: 5px;
    width: 12rem;
}

.card .add_btn:hover{
    background-color: #147442;
    color: #ffffff;
    cursor: pointer;
}

.dropdown-menu{
    background-color: white;
}

.category-btn.white-btn{
    background-color: #db5507;
    width: 10rem;
    color: white;
    border-radius: 10px;
    border: 2px solid #db5507;
}

.category-btn.white-btn:hover{
    background-color: #ffffff;
    width: 10rem;
    color: #db5507;
    border-radius: 10px;
    border: 2px solid #db5507;
}

.size_menu{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 15rem;
    padding: 8px;
}

.size_btn{
    font-size: 15px;
    border-radius: 5px;
    border: 1.5px solid #db5507;
    padding: 2px;
}
  
.size_btn:hover{
    font-size: 15px;
    background: #db5507;
    padding: 2px;
    color: white;
}

.shop_by_cat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.price_filter_btn{
    border: 0.5px solid white;
    padding: 0.5rem;
    border-radius: 2rem;
}

.price_filter_btn:hover{
    border: 0.5px solid green;
}