/* .card{
    width: 16.5rem;
    max-height: fit-content;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgb(184, 183, 183);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0.5rem;
    overflow: hidden;
} */

.card{
    width: 20rem;
    max-height: fit-content;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgb(184, 183, 183);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.item_details {
    display: flex;
    justify-content: left;
    align-items: center; 
    height: 2rem;
}

p{
    color: rgb(174, 172, 172);
}

.item_name {
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    line-height: 1.4rem;
    max-height: 4rem;
}

.card img{
    width: auto;
    height: auto;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.card .add_btn{
    border-radius: 10px;
    border: 2px solid #147442;
    background-color: white;
    color: #147442;
    transition: 0.2s;
    padding: 5px;
    /* width: unset; */
}

.card .add_btn:hover{
    background-color: #147442;
    color: #ffffff;
    cursor: pointer;
}

.dropdown-menu{
    background-color: white;
}

.category-btn.white-btn{
    background-color: #db5507;
    width: 10rem;
    color: white;
    border-radius: 10px;
    border: 2px solid #db5507;
}

.category-btn.white-btn:hover{
    background-color: #ffffff;
    width: 10rem;
    color: #db5507;
    border-radius: 10px;
    border: 2px solid #db5507;
}

.size_menu{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 15rem;
    padding: 8px;
}

.size_btn{
    font-size: 15px;
    border-radius: 5px;
    border: 1.5px solid #db5507;
    padding: 2px;
}
  
.size_btn:hover{
    font-size: 15px;
    background: #db5507;
    padding: 2px;
    color: white;
}

.shop_by_cat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.price_filter_btn{
    border: 0.5px solid white;
    padding: 0.5rem;
    border-radius: 2rem;
}

.price_filter_btn:hover{
    border: 0.5px solid green;
}