@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", serif;
    color: black;
}

nav{
    width: 100%;
    color: white;
    padding: 10px 10px;
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    width: 80px;
    filter: brightness(100%);
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

a{
    cursor: pointer;
}























/* ---- media queries -----*/
@media (max-width: 1000px){
    .logo{
        width: 140px;
    }

    nav ul li{
        margin: 10px 15px;
    }
}

@media (max-width: 840px){
    .nav{
        padding: 15px 0;
    }
    nav ul li{
        margin: 10px 15px;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #c8710d;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px 40px;
    }
}