.carousel-six-images {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    margin-top: 8rem;
}

.carousel-six-images img {
    width: 80%;
    height: 45vh;
    border-radius: 100px;
    box-shadow: 2px 2px 5px rgb(195, 195, 195);
}

.carousel-six-images .changing {
    position: absolute;
    opacity: 0;
    /* top: 0;
    left: 0; */
}

.carousel-six-images .two {
    animation: animate-six-two 8s infinite forwards linear;
}

.carousel-six-images .three {
    animation: animate-six-three 8s infinite forwards linear;
}

.carousel-six-images .four {
    animation: animate-six-four 8s infinite forwards linear;
}

.carousel-six-images .five {
    animation: animate-six-five 8s infinite forwards linear;
}

.carousel-six-images .six {
    animation: animate-six-six 8s infinite forwards linear;
}

@keyframes animate-six-two {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }
}

@keyframes animate-six-three {
    0% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }
}

@keyframes animate-six-four {
    0% {
        opacity: 0;
    }

    55% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }
}

@keyframes animate-six-five {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes animate-six-six {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}