.afterlogin-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    position: static;
    background-color: #147442;
    position: fixed;
}

ul li a{
    color: white;
}

.afterlogin-nav input{
    padding: 2px;
    width: 25rem;
}

.category-btn{
    font-size: 14px;
}

.cartlogo{
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
}

.cartlogo img{
    width: 45px;
    margin-bottom: 0;
}

.cart-logout-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.afterlogin-nav .search{
    border-radius: 1rem;
    border: none;
    text-align: start;
    padding: 5px;
    text-indent: 1rem;
}
.search:focus{
    outline: none;
}
.cart_img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.p_cart{
    width: 25px;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
    color: #000000;
    text-align: center;
    background-color: #F28D00;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
}