.afterlogin-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    position: static;
    background-color: #147442;
    position: fixed;
}

ul li a{
    color: white;
}

.afterlogin-nav input{
    padding: 2px;
    width: 25rem;
}

.category-btn{
    font-size: 14px;
}

.cartlogo{
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
}

.cartlogo img{
    width: 54px;
    margin-bottom: 0;
}

.cart-logout-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.search{
    border-radius: 1rem;
    border: none;
    text-indent: 0.5rem;
}
.search:focus{
    outline: none;
}
.cart_img{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.p_cart{
    
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
    color: white;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
}