.afterlogin-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    position: static;
}

.afterlogin-nav input{
    padding: 2px;
    width: 25rem;
}

.category-btn{
    font-size: 12px;
}

.cart{
    background-color: white;
    border: 0;
    cursor: pointer;
}

.cart img{
    width: 40px;
}

.cart-logout-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}